# Virtual environments
venv/
.venv/
venv312/

# Python cache & compiled files
**/__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Operating system files
.DS_Store

# Streamlit config & secrets
.streamlit/secrets.toml

# IDE configuration
.vscode/
.idea/

config.json

# Large Datasets & Model Weights
data/raw/
data/processed/**/*.nc
checkpoints/
